
/*------Layout (No Edit)----------*/
body#layout {
width:800px;
}
body#layout #preloader {
display:none;
}
body#layout .counter-box {
    padding: 0;
}
body#layout #outer-wrapper,body#layout .row{
    width:auto;
    padding:0
}
 body#layout{
    width:800px;
    position:relative;
    padding:95px 5px 0;
    margin:0
}
 body#layout div.section{
    margin:0 5px 10px!important;
    padding:16px 16px 18px!important
}
body#layout #brand-services-wrap {
    display: block;
    padding: 0;
}
 body#layout .section h4{
    font-size:14px;
    margin:0
}
body#layout .email-folower {
    padding: 0;
}
 body#layout .layout-widget-description{
    display:none
}
 body#layout .theme-options,body#layout #main-menu .widget{
    display:block!important
}
 body#layout div.sora-panel{
    background-color:#d7d7d7!important;
    overflow:hidden!important;
    border-color:#bcbcbc
}
body#layout #intro-author .widget-content {
    height: 224px;
}
 body#layout #header-wrap{
    height:auto;
position: static;
}
body#layout .author-intro-widgets {
  
}

 body#layout .header-header{
    padding:0
}
 body#layout div.header-logo{
    float:none;
    width:auto;
    height:auto;
    max-width:none
}
 body#layout .mobile-menu{
    display:none
}
 body#layout #header-wrap .container{
    display:flex
}
 body#layout #header-logo,body#layout #parallax-menu, body#layout #main-menu{
    width:33.333%;
    height:auto
}
 body#layout #intro-wrap,body#layout #intro-author-wrap,body#layout #intro-services-wrap,body#layout #serv-tile-wrap,body#layout #contact-area{
    display:block;
    padding:0;
    margin:0
}
 body#layout #intro-wrap,body#layout #main-intro{
    float:none;
    width:auto;
    height:auto
}
 body#layout #main-intro .widget{
    height:auto;
    overflow:visible
}
 body#layout #intro-author-photo{
    display:none
}
 body#layout #intro-author{
    width:auto
}
 body#layout #content-wrapper{
    margin:0
}
 body#layout #content-wrapper > .container{
    margin:0
}
 body#layout .head-text,body#layout #serv-tile{
    float:none;
    width:auto
}
 body#layout #main-wrapper{
   width: 65%;
    padding: 0;
    margin: 0;
    float: left;
}
 body#layout #contact-area .container{
    display:flex
}
 body#layout #contact-area .section{
    width:50%
}
 body#layout .contact-col .Text .widget-content{
    margin:0
}
 body#layout #sidebar-wrapper{
float:right;
  display: block;
    width: 35%;
    padding: 0;
}
body#layout .sidebar .widget,body#layout .sidebar .widget-content{float:none;overflow:visible;width:auto;}
body#layout .top-bar-nav, body#layout .top-bar-social {
    width: auto;
float:none;
}
body#layout #top-bar {
    height: auto;
}
body#layout #serv-tile {
    display: block;
}
body#layout .author-intro-widgets {
    display: flex;
}
body#layout .author-intro-widgets .author-list {
  width: 33.333%;
    float: left;
}
 body#layout #footer-copyright{
    padding:0
}
body#layout .top-bar-social .FollowByEmail {
    max-width: 100%;
}
body#layout #intro-author-heading {
    width: auto;
    float: none;
    display: block;
}
body#layout #intro-author-wrap .container {
   display:block;
}
body#layout .author-intro-widgets {
margin:0 auto;
}
body#layout .counter-box .container {
    display: flex;
}
body#layout .counter-box-info, body#layout .counter-box-image {
    float: left;
    width: 50%;
}
body#layout .counter-box-image {
    display: flex;
}
body#layout .counter-image-wrap {
    width: 100%;
}
body#layout .counter-box-image .widget-content {
    height: 22em;
}
/*------Layout (end)----------*/