:root {
  --main-color: #003ee6;
  --dark-color: #232323;
  --dark-color-two: #121158;
  --main-menu-color: #333333;
  --body-text-color: #888888;
  --body-text-two: #515184;
  --title-color: #222222;
  
  --intro-title: #232323;
  --intro-text: #666666;
  
  --posts-text-color: #5E5E5E;
  --footer-dark-color: #018dca;
}
